
body {
	font-family:'verdana'; 
	color: gray;
	background-color: #cccbed;
}

.media-waveform {
	margin-left: 250px;
	height: 76px;
}
.reverse {
}

h1 { 
	font-size:16px;
	color:#333;
}

div.media-controls {
	border: none;
	display: flex;
	padding: 1px;
}

.player-container {
	border: solid 1px #1e1e1e;
	display: float;
}
.media-title {
	position: relative;
	height: 24px;
}
.media-title p {
	font-size:16px;
	position: absolute;
	margin: 0;
    left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

progress {
	font-size:12px;
	width:256px;
	height:26px;
	border: 1px solid #000000;
	margin-right:5px;
	margin-left:5px;

}
progress::-moz-progress-bar { background:#ffffff; }

//progress::-webkit-progress-bar {
//  background:#c3c3c3;
//  color:#86c317;
//}
progress::-webkit-progress-value {
  background:#86c317;
  color:#ffffff;
}